.block-weather {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  

    .block-title {
        margin-bottom: 30px;

        h2 {
            color: $gray-700;
        }
    }
}